@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F30201;
  --primary-dark: #F3020180;
  --white: #ffffff;
  --black: #050607;
  --black-transparent: #05060780;
  --neutral-gray: #27272d;
  --neutral-gray-light: #ccc;
  --neutral-gray-dark: #202025;
  --8xl: 5.375rem;
  --7xl: 4.5rem;
  --6xl: 4.25rem;
  --4xl: 3.5rem;
  --h2xl: 3.375rem;
  --3xl: 2.625rem;
  --subtext: 2.25rem;
  --2xl: 2rem;
  --xl: 1.5rem;
  --lg: 1.125rem;
  --base: 1rem;
  --sm: 0.875rem;
  --xs: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  color: var(--white);
  background: var(--black);
  font-family: var(--font-lato);
}

h1 {
  font-size: var(--3xl);
}

h2 {
  font-size: var(--subtext);
}

h3 {
  font-size: var(--2xl);
}

h4 {
  font-size: var(--xl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

a:focus,
button:focus {
  outline: none;
  cursor: pointer;
}

a:active,
button:active {
  outline: none;
}

::-webkit-scrollbar {
  inline-size: .5rem;
  block-size: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-gray-light);
  border-radius: 1rem;
  height: 35%;
}

::-webkit-scrollbar-track {
  background: var(--neutral-gray);
  border-radius: 1rem;
}

@layer utilities {
  .loader {
    border-radius: 50%;
  }
}